.alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    display: none;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/* ALERT TYPES */
.danger-alert {
    background-color: red;
}

.success-alert {
    background-color: rgba(28, 247, 39, 0.8);

}